@{
    ViewData["Title"] = "Хлеб";
}
@model List<Product>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/FoodTemplate.css" />

<main class="grid-container">
    <div class="grid-item" style="align-items: center">
        <form asp-controller="Home" asp-action="Index" method="get">
            <button type="submit" class="custom-button" id="icon">
                <img src="~/img/Subtract.svg" alt="Изображение">
            </button>
        </form>
        <h1 class="start">Хлеб</h1>
    </div>
    <div class="grid-item">
        @if (Model.Any())
        {
            @foreach (var product in Model)
            {
                <div class="base">
                    <div class="image">
                        <img class="product-img" src="data:image/png;base64,@product.Avatar" alt="">
                    </div>
                    <div class="text">
                        <p class="product-name">@product.Name</p>
                        <p class="product-weight">@(Math.Round(product.Weight / 1000, 2)) кг</p>
                        <p class="product-detail">@product.Description</p>
                    </div>
                    <p class="product-price">@product.Cost руб.</p>
                    <button type="button" class="add-button" onclick="addToCart(@product.Id, 1)">
                        <img src="~/img/Add.svg" alt="Изображение">
                    </button>
                </div>
            }
        }
        else
        {
            <div class="grid-item-2">
                <h2>Извините, товаров этой категории сейчас не наблюдается!</h2>
            </div>
        }
    </div>
</main>

<script>
    function addToCart(productId, quantity) {
        $.ajax({
            url: '@Url.Action("AddToCart", "Home")',
            type: 'POST',
            data: { productId: productId, quantity: quantity },
            success: function () {
                showFeedbackPanel();
            },
            error: function () {
                alert('Ошибка при добавлении товара в корзину.');
            }
        });

        function showFeedbackPanel() {
            var feedbackPanel = document.getElementById('feedbackPanel');
            feedbackPanel.classList.add('active');
            setTimeout(function () {
                feedbackPanel.classList.remove('active');
            }, 3000);
        }

        function closeFeedbackPanel() {
            var feedbackPanel = document.getElementById('feedbackPanel');
            feedbackPanel.classList.remove('active');
        }

    }
</script>

<div id="feedbackPanel" class="feedback-panel">
    <div class="feedback-content">
        <span class="feedback-message">Товар успешно добавлен в корзину!</span>
        <button class="close-feedback" onclick="closeFeedbackPanel()">Закрыть</button>
    </div>
</div>