@{
    ViewData["Title"] = "Корзина";
    Layout = "_LayoutSecond";
}
@model List<CartItem>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/ShoppingCart.css" />
<h1>Корзина покупок</h1>

<div class="grid-container">
    <div class="grid-item">
        @if (Model != null && Model.Count > 0)
        {
            @foreach (var item in Model)
            {
                <div class="base">
                    <div class="image">
                        <img class="product-img" src="data:image/png;base64,@item.Product.Avatar" alt="">
                    </div>
                    <div class="text">
                        <p class="product-name">@item.Product.Name</p>
                        <p class="product-quantity">Количество: @item.Quantity</p>
                    </div>
                    <p class="product-price">Цена: @item.Product.Cost руб.</p>
                    <button type="button" class="remove-button" onclick="removeFromCart(@item.Product.Id)">
                        <img src="~/img/Remove.svg" alt="Изображение">
                    </button>
                </div>
            }
        }
        else
        {
            <p>Ваша корзина пуста.</p>
        }
    </div>

    @if (Model != null && Model.Count > 0)
    {
        <div class="cart-summary">
            <h3>Итоговая информация</h3>
            <p>Количество товаров: @Model.Sum(item => item.Quantity)</p>
            <p>Итоговая стоимость: @Model.Sum(item => item.Quantity * item.Product.Cost) руб.</p>
            <form method="post" asp-controller="Home" asp-action="OrderConfirmation">
                <button type="submit" class="checkout-button">Оформить заказ</button>
            </form>
        </div>
    }
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function removeFromCart(productId) {
        if (confirm('Вы уверены, что хотите удалить этот товар из корзины?')) {
            $.ajax({
                url: '@Url.Action("RemoveFromCart", "Home")',
                type: 'POST',
                data: { productId: productId },ержимое страницы
                    location.reload(); 
                },
                error: function () {
                    alert('Ошибка при удалении товара из корзины.');
                }
            });
        }
    }
</script>