@model BakeryBite.Data.FoodViewModel

@{
    ViewData["Title"] = "Товары";
    Layout = "_LayoutSecond";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/FoodEditor.css" />

<h2>Список всех товаров</h2>
<div class="header-bar">
    <form asp-action="@Model.ActionName" method="get" class="search-form">
        <input type="text" name="searchTerm" value="@Model.SearchTerm" placeholder="Поиск товаров..." class="search-input" />
        <button type="submit" class="btn btn-primary">Поиск</button>
    </form>
    <a asp-controller="Control" asp-action="ProductOneAdder" class="btn btn-primary">Добавить новый товар</a>
</div>

<div class="products-container">
    @if (Model.Products.Any())
    {
        @foreach (var product in Model.Products)
        {
            <div class="product-item">
                <div class="image">
                    <img class="product-img" src="data:image/png;base64,@product.Avatar" alt="">
                </div>
                <div class="details">
                    <p><strong>@product.Name</strong></p>
                    <p>@(Math.Round(product.Weight / 1000, 2)) кг</p>
                    <p>@product.Description</p>
                    <p>@product.Cost руб.</p>
                </div>
                <div class="actions">
                    <a href="@Url.Action("ProductOneEditor", "Control", new { productId = product.Id })" class="btn btn-primary">Редактировать</a>
                    <a href="#" onclick="confirmDelete(@product.Id)" class="btn-delete">Удалить</a>
                </div>
            </div>
        }
    }
    else
    {
        <p>Товары не найдены.</p>
    }
</div>

<div class="pagination-container">
    @if (Model.CurrentPage > 1)
    {
        <a asp-action="@Model.ActionName" asp-route-page="@(Model.CurrentPage - 1)" asp-route-searchTerm="@Model.SearchTerm" class="page-link">Назад</a>
    }

    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <a asp-action="@Model.ActionName" asp-route-page="@i" asp-route-searchTerm="@Model.SearchTerm" class="page-link @(i == Model.CurrentPage ? "active" : "")">@i</a>
    }

    @if (Model.CurrentPage < Model.TotalPages)
    {
        <a asp-action="@Model.ActionName" asp-route-page="@(Model.CurrentPage + 1)" asp-route-searchTerm="@Model.SearchTerm" class="page-link">Вперед</a>
    }
</div>

<script>
    function confirmDelete(productId) {
        if (confirm('Вы уверены, что хотите удалить этот товар?')) {
            $.ajax({
                url: '@Url.Action("DeleteProduct", "Control")',
                type: 'POST',
                data: { productId: productId },
                success: function (response) {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    alert('Произошла ошибка при удалении товара.');
                }
            });
        }
    }
</script>