@model BakeryBite.Models.User

@{
    ViewData["Title"] = "Профиль";
    Layout = "_LayoutSecond";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/Profile.css" />

<div class="profile-container">
    <div class="profile-grid">
        <div class="avatar">
            <h2>Профиль пользователя</h2>
            <img src="" alt="Аватар пользователя" class="avatar-img">
        </div>
        <div class="user-info">
            <p><strong>Имя пользователя:</strong> @($"{Model.Surname} {Model.Patronymic[0]}. {Model.Name[0]}.")</p>
            <p><strong>Роль пользователя:</strong> @Model.Role.Name</p>
        </div>
        <div class="action-buttons">
            @if (Model.Role.Name == "Администратор" || Model.Role.Name == "Менеджер Товаров")
            {
                <button type="button" class="btn btn-primary" onclick="redirectToProductsEditor()">Товары</button>
            }
            @if (Model.Role.Name == "Администратор" || Model.Role.Name == "Менеджер Заказов")
            {
                <button type="button" class="btn btn-primary" onclick="redirectToOrderEditor()">Заказы</button>
            }
            <button type="button" class="btn btn-primary" onclick="redirectToProfileEditor()">Редактирование профиля</button>
            <button type="button" class="btn btn-primary" onclick="redirectToUserOrders(@Model.Id)">Мои заказы</button>
            <a href="@Url.Action("Logout", "Control")" class="btn btn-danger">Выход</a>
        </div>
    </div>
</div>

<script>
    function redirectToProductsEditor() {
        window.location.href = '@Url.Action("ProductsEditor", "Control")';
    }

    function redirectToOrderEditor() {
        window.location.href = '@Url.Action("OrderEditor", "Control")';
    }

    function redirectToProfileEditor() {
        window.location.href = '@Url.Action("ProfileEditor", "Control")';
    }

    function redirectToUserOrders(userId) {
        window.location.href = '@Url.Action("UserOrders", "Control")' + '?userId=' + userId;
    }
</script>